@media screen and (max-width:1200px) {
    .hero-img {
        width: 100%;
        max-width: 350px;
    }

    .category-box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:992px) {
    #hero-container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
        .product-box {
           flex-wrap: wrap;
           gap: 30px;
           align-items: center;
        }

    #news-container {
        padding: 80px;
    }
}

@media screen and (max-width:640px) {
    .container {
        width: 98%;
    }

    #hero-container {
        padding: 10px;
    }



    #hero-container img {
        max-width: 290px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .category {
        flex-direction: column;


    }

    
           .product-box {
               flex-direction: column;
               align-items: center;
           }
    
           .product-card {
               max-width: 100%;
           }
    
        .product-card {
            max-width: 100%;
        }

    #news-container form {
        
        flex-direction: column;
        gap: 20px;
align-items: center;
    }
#news-container {
    padding: 10%;
}


}